
<form method="GET" action="{% url 'search_product' %}" id="search-form" autocomplete="off">
  <div class="text-center px-6 bg-white">
  <!-- Search Input -->
  <div class="flex flex-col md:flex-row items-center justify-center space-y-2 md:space-y-0 md:space-x-2">
  <input type="text" name="q" id="search-input"
  class="md:w-1/4 px-5 py-1 rounded-full bg-gray-200 text-gray-800 placeholder-gray-400 focus:outline-none focus:bg-gray-200"
  placeholder="Search for vehicles...">
  <button type="submit" id="search-button"
  class="bg-gray-700 text-white px-3 py-1 rounded-full hover:bg-blue-900 focus:outline-none">Search</button>
  </div>
  <!-- Suggestions Container -->
  <div id="search-suggestions" class="suggestions"></div>
  </div>
  </form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    const searchInput = $('#search-input');
    const searchSuggestions = $('#search-suggestions');
    const searchForm = $('#search-form');

    searchInput.on('input', function () {
      const query = searchInput.val();

      $.ajax({
        url: `/search_products/?q=${encodeURIComponent(query)}`,
        type: 'GET',
        dataType: 'json',
        success: function (data) {
          const suggestionsHTML = data.map(item => `<div class="suggestion" data-query="${item.mode_name}">${item.mode_name}</div>`).join('');
          searchSuggestions.html(suggestionsHTML);
        },
        error: function (error) {
          console.error('Error fetching suggestions:', error);
        }
      });
    });

    // Handle suggestion click
    searchSuggestions.on('click', '.suggestion', function() {
      const clickedQuery = $(this).data('query');
      searchInput.val(clickedQuery);
      searchForm.submit();
    });
  });
</script>
